:host {
  flex: 1 1 100%;
}

.video-container {
  // text-align: center;
}
video {
  background-color: black;
  min-height: calc(100vmin - 64px);
  min-width: 100vmin;
  max-width: 100vw;
  max-height: calc(100vh - 64px);
}

.chats {
}

.url {
  padding: 20px;
  text-align: center;
}

.copy {
  margin: 0 0 16px;
}
